body{
  text-align: center;
}
.products{
  display: flex;
  flex-wrap: wrap;

}
.products > .div {
  width: 400px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 0 10px  grey;
  text-decoration: none;
  color: black;
}
.products > .div:hover {
  background-color: lightgray;
}

.navBar{
  /* display: flex; */
  /* flex-direction: row; */
  background-color: black;
  color: white !important;
  /* justify-content: space-around; */
}

.navBarItems{
  text-decoration: none;
  color: white;
  margin: 0 1%;
}
.navBarItems:hover{
  color: black;
  background-color: white;
}